@{
    Layout = null;
}
@model MyNewBlog.Models.Admin

<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../favicon.ico">

    <title>管理员登录</title>

    <link href="~/Content/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-4.3.1-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/signin.css" rel="stylesheet">

</head>

<body class="text-center">

    <div class="container">

        @using (Html.BeginForm())
        {
        <div class="form-signin">
            @Html.AntiForgeryToken()
            <h1 class="h3 mb-3 font-weight-normal">管理员</h1>

            <label for="inputEmail" class="sr-only">Account</label>
            @Html.EditorFor(model => model.adminName, new { htmlAttributes = new { @class = "form-control", @placeholder = "账号", @required = "", @autofocus = "" } })
            @Html.ValidationMessageFor(model => model.adminName, "", new { @class = "text-danger" })


            <br />

            <label for="inputPassword" class="sr-only">Password</label>
            @Html.EditorFor(model => model.adminPassword, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "密码", @required = "", @autofocus = "" } })
            @Html.ValidationMessageFor(model => model.adminPassword, "", new { @class = "text-danger" })


            @Html.ValidationMessage("AdminError", new { @class = "text-danger" })

            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
            <p class="mt-5 mb-3 text-muted">© 2017-2019</p>
        </div>

        }

    </div> <!-- /container -->
    
</body>

</html>



