@using PagedList.Mvc;
@using PagedList;
@using MyNewBlog.Models;
@{
    Layout = "~/Views/Manage/_DashLayout.cshtml";
    ViewBag.item = "categories";

}

@Styles.Render("~/Content/Dash/css")
<div class="row">
    <div class="col-md-4 col-md-offset-10" style="padding:4px;">
        @Html.ActionLink("新增", "Create", "", new { @class = "btn btn-primary btn-sm", style = "padding:4px;" })
    </div>
</div>




<div class="table-responsive">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    名称
                </th>
                <th>
                    操作
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.categories)
            {
                Category category = item;

                <tr>
                    <td>
                        @category.id.ToString()
                    </td>

                    <td>
                        @category.cateName.ToString()

                    </td>


                    <td>
                        @Html.ActionLink("编辑", "Create", new { id = item.id }, new { @class = "btn btn-primary btn-sm" }) |
                        @Html.ActionLink("详情", "Details", new { id = item.id }, new { @class = "btn btn-info btn-sm" }) |
                        @Html.ActionLink("删除", "Delete", new { id = item.id }, new { @class = "btn btn-danger btn-sm " })

                    </td>

                </tr>
            }

        </tbody>
    </table>
</div>

<div class="t-center">

    @Html.PagedListPager((IPagedList)(ViewBag.Categories), page => Url.Action("Index",
        new { page }))
</div>
@RenderPage("~/Views/Manage/_FunctionScript.cshtml")

