
@using MyNewBlog.Models

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Manage/_DashLayout.cshtml";
    Admin admin = ViewBag.Admin;
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model =>admin.id)

        <div class="form-group">
            <label class="control-label col-md-2">用户名</label>
            <div class="col-md-10">
                @Html.EditorFor(model => admin.adminName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => admin.adminName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">用户密码</label>
            <div class="col-md-10">
                @Html.EditorFor(model => admin.adminPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => admin.adminPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-dark btn-sm" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回列表", "Index")
</div>
