@model MyNewBlog.Models.Article


@{
    ViewBag.Title = "Details";
    MvcHtmlString mvcHtmlString = new MvcHtmlString(Model.description.ToString());
}





<div class="wrap-container">
    <article class="single-post zerogrid">
        <div class="row wrap-post">
            <div class="entry-header">
                <span class="time fa-calendar">@Model.date</span>
                <h1 class="entry-title text-center">
                    @Model.title
                </h1>
                <span class="@Model.link"><a href="#">@Model.author</a></a></span>
            </div>

            <div class="post-thumbnail-wrap">
                <img src="">
            </div>

            <div style="font-size:large" class="">
                @mvcHtmlString
            </div>

        </div>
    </article>



    <div class="row">
        <div class="container" style="min-width:50%">
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    评论
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="panel-body container-fluid">
                        <ul class="list-unstyled">
                            <li class="media my-4">
                                <img class="media-object rounded-circle" src="~/images/header/1.jpg" style="width:50px" alt="...">
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        小天&nbsp;
                                        <span class="label label-default">2019.12.12</span>
                                    </h4>
                                    我觉得可以
                                </div>
                            </li>
                            <li class="media my-4">
                                <img class="media-object rounded-circle" src="~/images/header/4.jpg" style="width:50px" alt="...">
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        小薇&nbsp;
                                        <span class="label label-default">2019.12.12</span>
                                    </h4>
                                    我觉得不错
                                </div>
                            </li>
                            <li class="media my-4">
                                <img class="media-object rounded-circle" src="~/images/header/0.jpg" style="width:50px" alt="...">
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        小倩&nbsp;
                                        <span class="label label-default">2019.12.12</span>
                                    </h4>
                                    我觉得OK
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container center-block" id="comment_form">
                <div class="card card-body">
                    <form>
                        <div class="form-row">
                            <input class="hidden" name="topicId" value="@Model.id" />
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Email</label>
                                <input type="email" name="userEmail" class="form-control" id="inputEmail4">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">用户名称</label>
                                <input type="text" class="form-control" name="userName" id="inputPassword4">
                            </div>
                        </div>
                        <div class="form-group center-block">
                            <label for="exampleFormControlTextarea1">内容</label>
                            <textarea class="form-control" style="width:100%" id="exampleFormControlTextarea1" name="content" rows="3"></textarea>
                        </div>

                    </form>
                    <button type="submit" class="btn btn-primary" id="article_comment_btn">提交</button>
                </div>   
            </div>
          
        </div>

    </div>
</div>

<script>
     $("#article_comment_btn").click(function () {
        //发送ajax请求更新文章
        alert("fuck!");
        $.ajax({
            url: "../Home/comment",
            type: "POST",
            data: $("#comment_form form").serialize(),
            success: function (result) {
                alert(result);
                alert("评论成功!");
            },
            error: function (result) {
                alert(result);
                  alert("评论失败!");
            }
        });
    });
</script>