@model PagedList.IPagedList<MyNewBlog.Models.Article>
@using PagedList.Mvc;

@{
    ViewBag.Title = "资讯";
}
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


    <div class="wrap-container">
        <div class="zerogrid">
            @foreach (var item in Model)
            {
                <article>
                    <div class="row wrap-post">
                        <!--Start Box-->
                        <div class="entry-header">
                            <span class="time">@item.date</span>
                            <h2 class="entry-title">
                                <a href="#">@item.title</a>
                            </h2>
                            <span class="cat-links"><a href="#">@item.author</a></span>
                        </div>
                        <div class="post-thumbnail-wrap">
                            <img src="">
                        </div>
                        <div class="entry-content">
                            @Html.ActionLink("Read More", "Details", new { categoryId = ViewBag.categoryId, id = item.id })
                        </div>
                    </div>
                </article>
            }

        </div>
    </div>
    <!--分页-->
    <div class="t-center">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("News",
            new { categoryId = ViewBag.categoryId, page }))
    </div>


