@{
    Layout = "~/Views/Admin/_DashLayout.cshtml";
    ViewBag.title = "links";
}



@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />



<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-10">
            <button class="btn btn-primary btn-sm" id="add_modal_btn">新增</button>
            <button class="btn btn-danger btn-sm" id="delete_all_btn">删除</button>

        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        标题
                    </th>
                    <th>
                        描述
                    </th>
                    <th>
                        链接
                    </th>

                    <th>
                        操作
                    </th>
                    <th>
                        全选/反选 <input type="checkbox" id="check_all" onclick="" />
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Links)
                {
                    <tr>
                        <td>
                            @item.id.ToString()
                        </td>

                        <td>
                            @item.title.ToString()
                        </td>

                        <td>
                            @item.desc.ToString()
                        </td>

                        <td>
                            @item.url.ToString()
                        </td>



                        <td>
                            @Html.ActionLink("编辑", "Edit", new { id = item.id }) |
                            @Html.ActionLink("删除", "Delete", new { id = item.id })

                        </td>
                        <td>
                            <input type='checkbox' class='check_item' />
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

    <div class="t-center">
       

        @Html.PagedListPager((IPagedList)ViewBag.Links, page => Url.Action("Links",
            new { page }))
    </div>

</div>
<script src="~/Scripts/jquery1111.min.js"></script>

<script type="text/javascript">
    //查询部门信息

</script>

<script type="text/javascript">




</script>
