@using MyNewBlog.Models

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Manage/_DashLayout.cshtml";
    Link link = ViewBag.link;
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>创建链接</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">ID</label>
            <div class="col-md-10">
                @Html.EditorFor(model => link.id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => link.id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">标题</label>
            <div class="col-md-10">
                @Html.EditorFor(model => link.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => link.title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">链接</label>
            <div class="col-md-10">
                @Html.EditorFor(model => link.url, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => link.url, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">描述</label>
            <div class="col-md-10">
                @Html.EditorFor(model => link.desc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => link.desc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="创建" class="btn btn-dark btn-sm" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回列表", "Index", "", new { @class = "btn btn-primary btn-sm" })
</div>
