@using MyNewBlog.Models

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Manage/_DashLayout.cshtml";
    Link link = ViewBag.link;
}





<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            标题
        </dt>

        <dd>
            @Html.DisplayFor(model => link.title)
        </dd>

        <dt>
            链接
        </dt>

        <dd>
            @Html.DisplayFor(model => link.url)
        </dd>

        <dt>
            描述
        </dt>

        <dd>
            @Html.DisplayFor(model => link.desc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = link.id }) |
    @Html.ActionLink("返回列表", "Index")
</p>
