
@using MyNewBlog.Models
@{
    Layout = "~/Views/Manage/_DashLayout.cshtml";
    ViewBag.title = "links";
    ViewBag.item = "links";
}



@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />



<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-10" style="padding:4px;">
            @Html.ActionLink("新增", "Create", "", new { @class = "btn btn-primary btn-sm", style = "padding:4px;" })
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        标题
                    </th>
                    <th>
                        描述
                    </th>
                    <th>
                        链接
                    </th>

                    <th>
                        操作
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Links)
                {
                    <tr>
                        <td>
                            @item.id.ToString()
                        </td>

                        <td>
                            @item.title.ToString()
                        </td>

                        <td>
                            @item.desc.ToString()
                        </td>

                        <td>
                            @item.url.ToString()
                        </td>

                        <td>
                            @Html.ActionLink("编辑", "Create", new { id = item.id }, new { @class = "btn btn-primary btn-sm" }) |
                            @Html.ActionLink("详情", "Details", new { id = item.id }, new { @class = "btn btn-info btn-sm" }) |
                            @Html.ActionLink("删除", "Delete", new { id = item.id }, new { @class = "btn btn-danger btn-sm " })

                        </td>
                        
                    </tr>
                }

            </tbody>
        </table>
    </div>

    <div class="t-center">
       

        @Html.PagedListPager((IPagedList)ViewBag.Links, page => Url.Action("Index",
            new { page }))
    </div>

</div>
<script src="~/Scripts/jquery1111.min.js"></script>

