<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link href="~/Content/css/me_stytle.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Atención</title>
    <meta charset="utf-8" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/owl-carousel/css")
</head>
<body>
    <!--header-->
    @RenderPage("~/Views/Shared/_Header.cshtml")

    <!--body-->
    <section id="container" class="container">
        @RenderBody()
    </section>


   
    <!--bottom-->

    @RenderPage("~/Views/Shared/_Bottom.cshtml")



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>

