@{
    Layout = "~/Views/Dashboard/_DashLayout.cshtml";
    ViewBag.item = "article";
}

@model PagedList.IPagedList<MyNewBlog.Models.Article>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


<!-- 添加员工模态框 -->
<!-- Modal -->
<div class="modal fade" id="article_add_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">标题</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">原链接</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">日期</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">作者</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="inputState">分类</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">内容</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-10">
            <button class="btn btn-primary btn-sm" id="article_add_modal_btn">新增</button>
            <button class="btn btn-danger btn-sm" id="delete_all_btn">删除</button>

        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        标题
                    </th>
                    <th>
                        原链接
                    </th>
                    <th>
                        日期
                    </th>
                    <th>
                        作者/出版社
                    </th>
                    <th>
                        分类
                    </th>
                    <th>
                        操作
                    </th>
                    <th>
                        全选/反选 <input type="checkbox" id="check_all" onclick="" />
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.id.ToString()
                        </td>

                        <td>
                            @item.title.ToString().Trim()
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.link)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.author)
                        </td>
                        <td>
                            @ViewBag.cateNames[Convert.ToInt32(item.categoryId)]
                        </td>
                        <td>
                            <button class="btn btn-sm btn-success">编辑</button>
                            <button class="btn btn-sm btn-danger" id="btn-article-delete">删除</button>

                        </td>
                        <td>
                            <input type='checkbox' class='check_item' />
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

    <div class="t-center">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Articles",
            new { categoryId = ViewBag.categoryId, page }))
    </div>

</div>
<script src="~/Scripts/jquery1111.min.js"></script>
<script type="text/javascript">




    $("#delete_all_btn").click(function () {
        //获取当前被选中的文章的id
        var articleIds = "";
        $.each($(".check_item:checked"), function () {
            articleIds += $(this).parents("tr").find("td:eq(0)").text().trim() + "-";
        });
        articleIds = articleIds.substring(0, articleIds.length - 1);
        if (confirm("确认要删除[" + articleIds + "]?")) {
            //确认删除发送ajax请求
            $.ajax({
                url: "../Dashboard/Delete?Ids=" + articleIds,
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: {},
                success: function (result) {
                    alert("success" + result);
                    to_page();
                    to_page();
                },
                error: function (result) {
                    alert("error" + result);
                }

            })
        }
    });




    function to_page() {
        $.ajax({
            url: "../Dashboard/Articles?page=1",
            //data: {},
            type: "GET",
            success: function () {
                //跳转之后清除全选框的数据
                $("#check_all").prop("checked", false);
            }
        });
    }


    //给全选框添加点击事件
    $("#check_all").click(function () {
        $(".check_item").prop("checked", $(this).prop("checked"));
    });

    //给单个的checkbox添加点击事件，从而使全选框和checkbox们保持相同的状态
    $(document).on("click", ".check_item", function () {
        var flag = $(".check_item").length == $(".check_item:checked").length;
        if (flag) {
            $("#check_all").prop("checked", true);
        } else {
            $("#check_all").prop("checked", false);
        }
    });


    
    //点击删除按钮，根据id删除单个文章
    $(document).on("click",".btn-article-delete",function() {
        var artcleId = $(this).attr("artcleId");
        //发送确认框，是否删除员工
        if(confirm("是否删除["+artcleId+"]?")) {
            //确认删除后发送ajax请求
            $.ajax({
                url: "../Dashboard/Delete?Ids=" + artcleId,
                type:"POST",
                success:function(result) {
                    alert(result.message);
                }
            });
        }
    });


    //点击新增按钮，弹出一个模态框
    $("#article_add_modal_btn").click(
        function () {
            //弹出模态框以后，重置表单数据和表单样式
            //formReset("#article_add_modal form");
            //点击按钮就发送一个ajax请求，查询全部部门信息
            // getDepts("#article_add_modal select");
            $("#article_add_modal").modal({
                backdrop: "static"
            });
        });

</script>
