@{
    Layout = "~/Views/Dashboard/_DashLayout.cshtml";
    ViewBag.title = "links";
}



@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />



<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-10">
            <button class="btn btn-primary btn-sm" id="add_modal_btn">新增</button>
            <button class="btn btn-danger btn-sm" id="delete_all_btn">删除</button>

        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        标题
                    </th>
                    <th>
                        描述
                    </th>
                    <th>
                        链接
                    </th>

                    <th>
                        操作
                    </th>
                    <th>
                        全选/反选 <input type="checkbox" id="check_all" onclick="" />
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Links)
                {
                    <tr>
                        <td>
                            @item.id.ToString()
                        </td>

                        <td>
                            @item.title.ToString()
                        </td>

                        <td>
                            @item.desc.ToString()
                        </td>

                        <td>
                            @item.url.ToString()
                        </td>



                        <td>
                            @Html.ActionLink("编辑", "Edit", new { id = item.id }) |
                            @Html.ActionLink("删除", "Delete", new { id = item.id })

                        </td>
                        <td>
                            <input type='checkbox' class='check_item' />
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

    <div class="t-center">
       

        @Html.PagedListPager((IPagedList)ViewBag.Links, page => Url.Action("Links",
            new { page }))
    </div>

</div>
<script src="~/Scripts/jquery1111.min.js"></script>
<script type="text/javascript">



    //给批量删除按钮添加点击事件
    $("#Test_btn").click(function () {
        //获取当前被选中的员工的id和姓名
        $.post();
        //确认删除发送ajax请求
        $.ajax({
            url: "../Test",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: "{'Name':'郎中令','Content':'200'}",

            success: function (result) {
                alert("success" + result);
            },
            error: function (result) {
                alert("發送失敗" + result);
            }
        });

    });

    $("#delete_all_btn").click(function () {
        //获取当前被选中的员工的id和姓名
        var articleIds = "";
        $.each($(".check_item:checked"), function () {
            articleIds += $(this).parents("tr").find("td:eq(0)").text().trim() + "-";
        });
        if (confirm("确认要删除[" + articleIds + "]?")) {
            //确认删除发送ajax请求
            $.ajax({
                url: "../Dashboard/Delete/",
                type: "DELETE",
                dataType: "json",
                contentType: "application/json",
                data: { "ids": articleIds },
                success: function (result) {
                    alert("success" + result);
                },
                error: function (result) {
                    alert("error" + result);
                }

            })
        }
    });



    function to_page(pn) {
        $.ajax({
            url: "../Dashboard/",
            // data : "pn=" + pn,
            type: "GET",
            success: function (result) {
                //跳转之后清除全选框的数据
                $("#check_all").prop("checked", false);
            }
        });
    }


    //给全选框添加点击事件
    $("#check_all").click(function () {
        $(".check_item").prop("checked", $(this).prop("checked"));
    });

    //给单个的checkbox添加点击事件，从而使全选框和checkbox们保持相同的状态
    $(document).on("click", ".check_item", function () {
        var flag = $(".check_item").length == $(".check_item:checked").length;
        if (flag) {
            $("#check_all").prop("checked", true);
        } else {
            $("#check_all").prop("checked", false);
        }
    });

</script>
